@page
@model Website.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}

<h1>Menu</h1>

<h2>Combos</h2>
<div>
    @foreach (DinoDiner.Menu.CretaceousCombo item in Model.menu.GetCombos)
    {
        <div class="menu-item">
            <p>@item.Description $@item.Price Calories are @item.Calories</p>
            <p class="ingredient">
                @foreach (string ingredient in item.Ingredients)
                {
                    <div>@ingredient</div>
                }
            </p>
        </div>
    }
</div>

<h2>Entrees</h2>
<div>
    @foreach (DinoDiner.Menu.Entree item in Model.menu.GetEntrees)
    {
        <div class="menu-item">
            <p>@item.Description $@item.Price Calories are @item.Calories</p>
            <p class="ingredient">
                @foreach (string ingredient in item.Ingredients)
                {
                    <div>@ingredient</div>
                }
            </p>
        </div>
    }
</div>

<h2>Sides</h2>
<div>
    @foreach (DinoDiner.Menu.Side item in Model.menu.GetSides)
    {
        <div class="menu-item">
            <p>@item.Description $@item.Price Calories are @item.Calories</p>
            <p class="ingredient">
                @foreach (string ingredient in item.Ingredients)
                {
                    <div>@ingredient</div>
                }
            </p>
        </div>
    }
</div>

<h2>Drinks</h2>
<div>

    @foreach (DinoDiner.Menu.Drink item in Model.menu.GetDrinks)
    {
        <div class="menu-item">
            <p>@item.Description $@item.Price Calories are @item.Calories</p>
            <p class="ingredient">
                @foreach (string ingredient in item.Ingredients)
                {
                    <div>@ingredient</div>
                }
            </p>
        </div>
    }
</div>